MarkupSafe==3.0.2
appdirs==1.4.4
beautifulsoup4==4.13.4
colorama==0.4.6
filelock==3.18.0
fsspec==2025.3.2
huggingface-hub==0.30.2
importlib-metadata==8.7.0
jinja2==3.1.6
joblib==1.5.0
numpy==2.2.5
pyee==11.1.1
pyppeteer==2.0.0
pyyaml==6.0.2
regex==2024.11.6
safetensors==0.5.3
scikit-learn==1.6.1
soupsieve==2.7
threadpoolctl==3.6.0
tokenizers==0.21.1
torch==2.7.0
tqdm==4.67.1
transformers==4.51.3
typing-extensions==4.13.2
urllib3==1.26.20
websockets==10.4
xlwt==1.3.0
zipp==3.21.0
Flask-Cors